header{
    height: auto;
    font-size: 3rem;
}
header.secondary{
    height: auto;
    font-size: 1.1rem;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.content{
    margin-right: 30%;
    margin-left: 30%;
    height: auto;
}
.left{
    padding: 10px;
    text-align: left;
}
table{
    margin: auto;
    height: auto;
}
svg{
    width: 1.25rem;
}