header{
    background-color: #332940;
    color: #FFFFFF;
}
header.secondary{
    background-color: #000000;
    color: #FFFFFF;
}
body{
    background-color: #121212;
}
footer{
    background-color: #332940;
    color: white;
}
div.style{
    background-color: #242424;
    color: white;
}
.fit.style{background-color: #1f1f1f;}