.centralize{ 
    text-align: center;
}
.bold{ font-weight: bold;}
a.button{
    color: #fff;
    text-decoration: none;  
}
a.button:hover{
    color: rgb(134, 134, 134);
    text-decoration: none;  
}
.fit{
    height: 100%;
}
table.center {
    margin: auto;
    width: auto;
}