.centralize{ text-align: center;}
.bold{ font-weight: bold;}
header{
    background-color: #01497c;
    color: white;
    text-align: center;
}
body{
    background-color: #a9d6e5;
}
footer{
    background-color: #01497c;
    color: white;
    text-align: center;
}
.content{
    background-color: #012a4a;
    color: white;
    text-align: center;
}