header{
    background-color: #01497c;
    color: white;
}
header.secondary{
    background-color: #000000;
    color: #FFFFFF;
}
body{
    background-color: #a9d6e5;
}
footer{
    background-color: #01497c;
    color: white;
}
div.style{
    background-color: #012a4a;
    color: white;
}
.fit.style{background-color: #022642;}