header{
    height: 5%;
    font-size: 1.5rem;
}
.content{
    font-size: 1.3rem;
    background-color: #012a4a;
    color: white;
    text-align: center;
    height: 100%;
}
@media only screen and (max-width: 320px) {
    header{
        height: 5%;
        font-size: 1.3rem;
    }
    .content{
        font-size: 1rem;
        background-color: #012a4a;
        color: white;
        text-align: center;
        height: 100%;
    }
}