header{
    height: auto;
    font-size: 1.5rem;
}
.content{
    font-size: 1.3rem;
    height: auto;
}
@media only screen and (max-width: 320px) {
    header{
        height: auto;
        font-size: 1.3rem;
    }
    .content{
        font-size: 1rem;
        height: auto;
    }
}