.centralize{ text-align: center;}
.bold{ font-weight: bold;}
header{
    background-color: #01497c;
    color: white;
    text-align: center;
}
body{
    background-color: #a9d6e5;
}
footer{
    background-color: #01497c;
    color: white;
    text-align: center;
}
@media only screen and (orientation: landscape){
    header{
        height: 10%;
        font-size: 48px;
    }
    .content{
        margin: 0% 30% 0% 30%;
        background-color: #012a4a;
        color: white;
        text-align: center;
        height: 100%;
    }
}
@media only screen and (hover: none) and (pointer: coarse) {
    header{
        height: 5%;
        font-size: 1.5rem;
    }
    .content{
        font-size: 1.3rem;
        background-color: #012a4a;
        color: white;
        text-align: center;
        height: 100%;
    }
}
@media only screen and (max-width: 320px) {
    header{
        height: 5%;
        font-size: 1.3rem;
    }
    .content{
        font-size: 1rem;
        background-color: #012a4a;
        color: white;
        text-align: center;
        height: 100%;
    }
}